@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main {
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #C7C7C7;
}

.sidebar>ul {
    list-style-type: none;

}

.sidebar>img {
    width: 103px;
    height: 29px;
    margin: 40px 0 0 24px;
}

.sidebar>ul {
    margin-top: 30px;
}

.sidebar>ul>li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #262626;
    font-size: 16px;
    line-height: 24px;
}

.sidebar>ul>li>img {
    padding: 0 16px;
}

.main-scrollable-container {
    width: 80%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px;
    position: relative;
    margin-left: 50px;
}

/* Stories */

.stories-section {
    display: flex;
    width: 60%;
    justify-content: left;
    gap: 16px;
    margin: 16px 0;
    margin-bottom: 50px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story>p {
    color: #262626;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
}

.stories-image {
    background: url(assets/stories/story_frame.svg);
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-image>img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

/* Footer */

.footer {
    width: 319px;
    position: absolute;
    top: 51px;
    right: 46px;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-left>img {
    border-radius: 50%;
    width: 56px;
    height: 56%;
    margin-right: 17px;
}

.user-profile-left>div>h4 {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.user-profile-left>div>p {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.user-profile>a {
    color: #0095f6;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

.footer-suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer-suggestions>h5 {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.footer-suggestions>a {
    color: #262626;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

.user-suggestions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggestion-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-div-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.suggestion-div-left>img {
    border-radius: 50%;
    width: 32px;
    height: 32%;
    margin-left: 4px;
}

.suggestion-div-left>div>h4 {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.suggestion-div-left>div>p {
    color: #8E8E8E;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.suggestion-div>a {
    color: #0095f6;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.footer-links {
    margin-top: 24px;
}

.footer-links>a {
    color: #C7C7C7;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.footer-copyright {
    color: #C7C7C7;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Post */
.posts{
    margin-left: 50px;
}
.post {
    width: 470px;
    margin-top: 25px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.post-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-profile-image {
    background: url(assets/post/post-profile-frame.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.post-profile-image>img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.post-header-text {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 10px;
    gap: 4px;
}

.post-username {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.post-time {
    font-size: 14px;
    line-height: 18px;
    color: #8E8E8E;
}

.post-header>img {
    width: 24px;
    height: 24px;
}

.post-image {
    width: 470px;
    height: 587px;
    position: relative;
}

.post-image>button {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    border: none;
    background-color: transparent;
}

.post-image>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.button-left {
    width: 30;
    height: 30;
    left: 8px;
}

.button-right {
    width: 30;
    height: 30;
    right: 8px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    height: 46px;
}

.post-icons-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-text-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;
}
.post-likes {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.post-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.post-translation {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.post-comments {
    font-size: 13px;
    line-height: 18px;
    color: #8E8E8E;

}

.post-add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-add-comment>p {
    font-size: 14px;
    leading-trim: NONE;
    line-height: 18px;
}

.post-add-comment>img {
    width: 13;
    height: 13;
}