@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 20%;
    min-width: 12.5rem;
    /* 200px */
    display: flex;
    flex-direction: column;
    border-right: 1px solid #C7C7C7;
}

.sidebar>ul {
    list-style-type: none;
}

.sidebar>img {
    width: 6.5rem;
    /* 103px */
    height: 1.8rem;
    /* 29px */
    margin: 2.5rem 0 0 1.5rem;
}

.sidebar>ul {
    margin-top: 2rem;
}

.sidebar>ul>li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.2rem;
    color: #262626;
    font-size: 1rem;
    line-height: 1.5rem;
}

.sidebar>ul>li>img {
    padding: 0 1rem;
}

/* Scrollable container */
.main-scrollable-container {
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    padding: 2rem;
    position: relative;
    margin-left: 3rem;
}

/* Stories */
.stories-section {
    display: flex;
    width: 60%;
    justify-content: left;
    gap: 1rem;
    margin: 1rem 0 3rem 0;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story>p {
    color: #262626;
    text-align: center;
    font-size: 0.75rem;
}

.stories-image {
    background: url(assets/stories/story_frame.svg);
    width: 4.1rem;
    height: 4.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-image>img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

/* Footer */
.footer {
    width: 20rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-left {
    display: flex;
    align-items: center;
}

.user-profile-left>img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
}

.user-profile-left>div>h4 {
    color: #262626;
    font-size: 0.9rem;
    font-weight: 600;
}

.user-profile-left>div>p {
    color: #8E8E8E;
    font-size: 0.9rem;
}

.user-profile>a {
    color: #0095f6;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
}

/* Footer links and suggestions */
.footer-suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.footer-suggestions>h5 {
    color: #8E8E8E;
    font-size: 0.9rem;
    font-weight: 600;
}

.footer-suggestions>a {
    color: #262626;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
}

.user-suggestions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.suggestion-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-div-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.suggestion-div-left>img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.suggestion-div-left>div>h4 {
    color: #262626;
    font-size: 0.9rem;
    font-weight: 600;
}

.suggestion-div-left>div>p {
    color: #8E8E8E;
    font-size: 0.7rem;
}

.suggestion-div>a {
    color: #0095f6;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.footer-links {
    margin-top: 1.5rem;
}

.footer-links>a {
    color: #C7C7C7;
    font-size: 0.8rem;
    text-decoration: none;
}

.footer-copyright {
    color: #C7C7C7;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* Posts */
.posts {
    margin-left: 3rem;
}

.post {
    width: 29rem;
    margin-top: 1.5rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
}

.post-header-left {
    display: flex;
    align-items: center;
}

.post-profile-image {
    background: url(assets/post/post-profile-frame.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    margin-right: 0.6rem;
}

.post-profile-image>img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.post-header-text {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.post-username {
    font-weight: 600;
    font-size: 0.9rem;
}

.post-time {
    font-size: 0.9rem;
    color: #8E8E8E;
}

.post-header>img {
    width: 1.5rem;
    height: 1.5rem;
}

.post-image {
    width: 100%;
    height: auto;
    position: relative;
}

.post-image>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
}

.post-image>img {
    width: 100%;
    border-radius: 5px;
}

.button-left {
    left: 0.5rem;
}

.button-right {
    right: 0.5rem;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.3rem;
    height: 2.5rem;
}

.post-icons-left {
    display: flex;
    gap: 1rem;
}

.post-text-field {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C7C7C7;
}

.post-likes {
    font-weight: 600;
    font-size: 0.8rem;
}

.post-caption {
    font-size: 0.9rem;
}

.post-translation {
    font-weight: 600;
    font-size: 0.8rem;
}

.post-comments {
    font-size: 0.8rem;
    color: #8E8E8E;
}

.post-add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-add-comment>p {
    font-size: 0.9rem;
}

.post-add-comment>img {
    width: 0.9rem;
    height: 0.9rem;
}

/* --------------------------- */
/* Responsive Styles */
/* --------------------------- */

/* For medium screens */
@media (max-width: 1200px) {
    .sidebar {
        width: 18%;
    }

    .main-scrollable-container {
        width: 82%;
        padding: 1.5rem;
        margin-left: 2rem;
    }

    .footer {
        display: none;
    }

    .post {
        width: 25rem;
    }
}

/* For small screens */
@media (max-width: 768px) {
    .sidebar {
        width: 15%;
        min-width: 3.5rem;
    }

    .sidebar>ul>li {
        font-size: 0;
        justify-content: center;
        padding: 0.5rem 0;
    }

    .sidebar>ul>li>img {
        padding: 0;
    }

    .sidebar>img {
        width: 2rem;
        margin: 1rem auto;
    }

    .main-scrollable-container {
        width: 85%;
        margin-left: 1rem;
        padding: 1rem;
    }

    .footer {
        display: none;
        /* Hide footer for small screens */
    }

    .posts {
        margin-left: 1rem;
    }

    .post {
        width: 100%;
    }

    .stories-section {
        width: 100%;
        gap: 0.6rem;
    }
}